@import 'tailwindcss';

:root {
  --mint-400: #6EE7B7;
}

body {
     font-family: 'Roboto Variable', sans-serif;
}

h1 {
    font-family: 'Orbitron Variable';
    text-transform: uppercase; 
    font-size: 3rem;
}

.mint-400 {
  background-color: var(--mint-400);
}